.comments-container
  - @comments.each do |comment|
    .comment-container
      .user-name
        = comment.user.name
      .description
        = comment.description
      - if user_comment?(comment)
        .buttons-container
          %div.button-left= link_to 'Edit comment', edit_movie_comment_path(comment.movie_id, comment.id), class: 'btn btn-sm comments-button'
          %div.button-right= link_to 'Delete comment', movie_comment_path(comment.movie_id, comment.id), method: :delete, class: 'btn btn-sm comments-button', data: {:confirm => 'Are you sure?'}
