.row
  .col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
    %h1.text-center Welcome to Pairguru App!
    %p.lead.text-center Place where we examine our candidates
    .panel.panel-default
      .panel-heading
        %h3.panel-title.text-center
          List of tasks
      .panel-body.col-lg-offset-1
        %h3 
          %strong Intern
        %ul
          %li Format date in genres list (it'd best to have eg. "18 Jan 06:10")
        %h3 
          %strong Junior Developer
        %ul
          %li Add pagination in genres list
        %h3 
          %strong Developer
        %ul
          %li How would you build API for external clients in this app?

